@using Chat.API.Helpers

<html>
<head>
    <title>@ViewData["Title"] - Chat.API</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/variables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/private-chat.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/signalr.js" asp-append-version="true"></script>
    <script src="~/js/signalrInitializer.js" asp-append-version="true"></script>
    <script src="~/js/Layout.js" asp-append-version="true"></script>
    <script src="~/js/spaRouter.js" asp-append-version="true"></script>
    <script src="~/js/PrivateChat.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <div class="layout d-flex h-100">
        <div class="sidebar col-3 border-end border-black">
            <div class="sidebar-header w-100 p-2 border-bottom d-flex">
                @* <button id="user-settings-button">=</button> *@

                <input class="w-100 border-0" id="search-users-field" type="text" placeholder="Найти пользователя..." 
                    autocomplete="off" writingsuggestions="false"/>
                <button class="search-users-clear-button align-self-center" id="search-users-clear-button">
                    <svg width="12" height="12" viewBox="0 0 100 100">
                        <line x1="0" x2="100" y1="0" y2="100" />
                        <line x1="0" x2="100" y1="100" y2="0" />
                    </svg>
                </button>
            </div>

            <div class="overflow-auto">
                <div class="chats-list" id="chats-list">
                
                </div>
                <div class="users-list" id="users-list">
                
                </div>
            </div>
        </div>
        <div class="layout-body flex-grow-1" id="layout-body">
            @RenderBody()
        </div>
    </div>

    <input type="hidden" value="@UserHelper.GetUserId(Context)" id="current-user-id" />
</body>
</html>
