@model MessageModel

<div class="last-message">
    @* <img src="@Model.AuthorImage" />
    <span>@Model.AuthorName</span> *@
    <span class="last-message-content">@Model.MessageContent</span>
</div>
