<html>
<head>
    <title>@ViewData["Title"] - Chat.API</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/variables.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/unauthorized-layout.css" asp-append-version="true"/>
    @await RenderSectionAsync("Styles", required: false)

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/UnauthorizedLayout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <div class="unauthorized-layout h-100">
        @RenderBody()
    </div>
</body>
</html>
