$PrimaryColor: var(--primary-color);
$PrimaryColorDark: var(--primary-color-dark);
$PrimaryColorLight: var(--primary-color-light);
$SecondaryColor: var(--secondary-color);
$SecondaryColorLight: var(--secondary-color-light);
$FontColor: var(--font-color);
$ScrollbarColor: var(--scrollbar-color);
$BackgroundHoverColor: var(--background-hover);
