@import "variables.scss";

.private-chat-page {

    .chat-header {
        height: 55px;
        padding: 0 14px 0 14px;
        border-bottom: 1px solid;
        background: $PrimaryColor;
    }

    .messages-list-container {
        min-height: 0;

        .scroll-down-button {
            bottom: 50px;
            right: 50px;
            width: 64px;
            height: 64px;
            border-radius: 50%;

            .arrow-down {
                stroke-width: 8px;
            }

            .counter {
                top: 0;
                right: 0;
            }
        }

        .messages-list {

            & > :first-child {
                margin-top: auto !important;
            }

            .message-wrapper {

                &:not(.my-message) {
                    justify-content: start;
                }

                &.my-message {
                    justify-content: end;
                }

                &:not(:hover) {

                    .dropdown-toggle:not(.show) {
                        display: none;
                    }
                }

                .message {
                    max-width: 500px;
                    border-radius: 8px;
                    scroll-margin-top: 15px;

                    &:not(.my-message) {
                        background-color: $PrimaryColor;
                        border-bottom-left-radius: 0;
                        justify-self: start;

                        .message-tail {
                            fill: $PrimaryColor;
                            left: -20px;
                        }

                        .message-dropdown {
                            right: -12px;

                            .dropdown-toggle {
                                background-color: $PrimaryColor;
                            }
                        }
                    }

                    &.my-message {
                        border-bottom-right-radius: 0;
                        justify-self: end;
                        background-color: $PrimaryColorLight;

                        .message-tail {
                            fill: $PrimaryColorLight;
                            right: -20px;
                            transform: scaleX(-1);
                        }

                        .message-dropdown {
                            left: -12px;

                            .dropdown-toggle {
                                background-color: $PrimaryColorLight;
                            }
                        }
                    }

                    &:not(.message-edited) .edited-text {
                        display: none;
                    }

                    .message-tail {
                        bottom: 0;
                        stroke: none;
                    }

                    .message-content {
                        white-space: pre-line;
                    }

                    .message-date {
                        font-size: 0.75rem;
                        color: #afafaf;
                        text-align: right;
                    }

                    .message-dropdown {
                        top: -6px;
                        border-radius: 50%;

                        .dropdown-toggle {
                            box-sizing: content-box;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            border: 3px solid $PrimaryColorDark;                            
                        }
                    }
                }
            }
        }
    }

    &-footer {
        background-color: $PrimaryColor;

        .write-message-field {
            background-color: transparent;
        }
    }
}
