@import "sass-variables.scss";

$AnchorColor: #66a0c3;

.unauthorized-layout {
    background: $PrimaryColorDark;

    .form {
        height: 450px;
        width: 330px;
        background: $SecondaryColor;
        border-radius: 14px;

        input {
            align-self: stretch;
            background: $PrimaryColor;
            padding: 2px 12px 2px 12px;
            border: 2px solid transparent;
            border-radius: 10px;

            &:user-invalid, &.is-invalid {
                border-color: $ErrorColor;
            }
        }

        button {
            border-radius: 10px;
            padding: 2px 12px;
        }

        .invalid-feedback {
            display: block;
            text-align: center;
            margin-top: 16px;
            color: $ErrorColor;
        }
    }

    a {
        color: $AnchorColor;
    }
}
