:root {
    --primary-color: #1a2639;
    --primary-color-dark: #1c2233;
    --primary-color-light: #1c2b41;
    --secondary-color: #2c394f;
    --secondary-color-light: #6b8baf;
    --font-color: white;
    --scrollbar-color: #525b71;
    --background-hover: rgba(255, 255, 255, 0.1);
    --error-color: #d53b3b;
}
