@page
@{
    Layout = "_UnauthorizedLayout";
}

<div class="page login-page d-flex justify-content-center align-items-center">
    <form class="form login-form d-flex flex-column align-items-center px-2 pt-5" id="login-form" 
        method="post" asp-controller="Identity" asp-action="Login" novalidate>
        <div class="mb-2">
            Авторизация
        </div>

        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
        <input class="mb-2 invalid-401" type="text" name="login" placeholder="Логин" required pattern=".*\S+.*" />
        <input class="mb-2 invalid-401" type="password" name="password" placeholder="Пароль" required pattern=".*\S+.*" />
        <button type="submit">Войти</button>

        <small class="invalid-feedback"></small>
    </form>

    <a href="/registration">Зарегистрироваться</a>
</div>